{% assign previous = site.url %}
<ol class="breadcrumb" xmlns:v="http://rdf.data-vocabulary.org/#">
  <li><a href="{{ site.url }}"><i class="icon-home"></i>Home</a> </li>
  {% assign crumbs = page.url | remove:'/index.html' | split: '/' %}
  {% assign crumbstotal = crumbs | size | minus:1 %}
  {% for crumb in crumbs offset:1 %}
    {% unless crumb == 'index.html' %}
    {% capture previous %}{{ previous }}/{{ crumb | remove: '.html' }}{% endcapture %}
  <li typeof="v:Breadcrumb"{% if forloop.index == crumbstotal %} class="active"{% endif %}><a href="{{ previous }}" rel="v:url" property="v:title">{{ crumb | remove: '.html' | capitalize }}</a></li>
    {% endunless %}
  {% endfor %}
</ol>
