{% unless page.slug == 'home' %}
{% assign previous = site.url %}
{% assign y = page.date | date: "%Y" %}
{% assign m = page.date | date: "%m" %}
{% assign d = page.date | date: "%d" %}
{% assign crumbs = page.url | remove:'/index.html' | split: '/' %}
{% assign crumbstotal = crumbs | size | minus:1 %}

<ol class="breadcrumb">
  <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
    <a href="{{ site.baseurl }}" itemprop="url">
	  <i class="fa fa-home"></i>
	  <span itemprop="title" class="sr-only">{{ site.name }}</span>
	</a>
  </li>
  {% for crumb in crumbs offset:1 %}
    {% unless crumb == y or  crumb == m or  crumb == d %}
      {% capture previous %}{{ previous }}/{{ crumb | remove: '.html' }}{% endcapture %}
      {% if forloop.index == crumbstotal %}
  <li class="active" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
    <span itemprop="title">{{ page.title }}</span>
  </li>
      {% else %}
  <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
    <a href="{{ previous }}" itemprop="url">
	  <span itemprop="title">{{ crumb | remove: '.html' | capitalize }}</span>
	</a>
  </li>
      {% endif %}
    {% endunless %}
  {% endfor %}
</ol>
{% endunless %}
