{% assign previous = site.url %}
<ol class="breadcrumb">
  <li><a href="{{ site.url }}"><i class="icon-home"></i>Home</a> </li>
  {% assign crumbs = page.url | split: '/' %}
  {% assign crumbstotal = crumbs | size %}
  {% for crumb in crumbs offset:1 %}
    {% unless crumb == 'index.html' %}
    {% capture previous %}{{ previous }}/{{ crumb | remove: '.html' }}{% endcapture %}
  <li{% if forloop.index == crumbstotal %} class="active"{% endif %}><a href="{{ previous }}"></a>{{ crumb | remove: '.html' | capitalize }}</a></li>
    {% endunless %}
  {% endfor %}
</ol>
