  <footer>
    <div class="container">
      <p class="pull-right"><a href="#">Back to top</a></p>
      <p class="text-left">&copy; 2013 Adam Bouqdib &middot; <a href="{{ site.url }}/privacy">Privacy</a> &middot; <a href="{{ site.url }}/terms">Terms</a></p>
    </div>
  </footer>
  <div id="base"></div>
  
  <!-- JS and analytics only. -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="{{ site.url }}/js/jquery-ui-1.9.1.custom.min.js"></script>
  <script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.1/js/bootstrap.min.js"></script>
  <script src="{{ site.url }}/js/jquery.tocify.min.js"></script>
  <script src="{{ site.url }}/js/waypoints.min.js"></script>
  {% if page.layout == "default" %}
  <script src="{{ site.url }}/js/jquery.tocify.min.js"></script>
  {% endif %}
  <script src="{{ site.url }}/js/stuff.js"></script>
