  <!-- Bootstrap core JavaScript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="{{ page.base_url }}js/jquery-ui-1.9.1.custom.min.js"></script>
  <script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.1/js/bootstrap.min.js"></script>
  <script src="{{ page.base_url }}js/jquery.tocify.min.js"></script>
  <script src="{{ page.base_url }}js/prettify.js"></script>
  <script src="{{ page.base_url }}js/waypoints.min.js"></script>
  <script>
        $(function() {

            var toc = $("#toc").tocify({ selectors: "h2, h3" }).data("toc-tocify");
            prettyPrint();
            $(".optionName").popover({ trigger: "hover" });

        });
	
	$('#main').waypoint(function(direction) {
	  if(direction == 'down') {
		  $('#navbar').fadeOut(0).removeClass('navbar-static-top').addClass('navbar-fixed-top').fadeIn("slow");
		  $('#sidebar').addClass('affix');
	  }
	  else if(direction == 'up') {
		  $('#navbar').fadeOut("fast", function(){ $(this).removeClass('navbar-fixed-top').addClass('navbar-static-top').fadeIn(0) });
		  $('#sidebar').removeClass('affix');
	  }
	});
	$('#base').waypoint(function(direction) {
	  if(direction == 'up') {
		  $('footer').addClass('affix');
	  }
	  else if(direction == 'down') {
		  $('footer').removeClass('affix');
	  }
	}, { offset: 'bottom-in-view' });
    </script>
