  <footer>
    <div class="container">
      <p class="pull-right"><a href="#">Back to top</a></p>
        <ul class="social-buttons">
          <li class="follow-btn">
            <a href="https://plus.google.com/105901517631922861836" rel="publisher" class="btn btn-default btn-xs">Find us on Google+</a>
          </li>
          <li class="follow-btn">
            <a href="https://twitter.com/donjoomla" class="twitter-follow-button" data-link-color="#23879E" data-show-count="true">Follow @donjoomla</a>
          </li>
          <li class="tweet-btn">
            <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://donjoomla.com/" data-count="horizontal" data-via="donjoomla" data-related="abemedia:Creator of donJoomla">Tweet</a>
          </li>
        </ul>
      <p class="text-left">&copy; 2013 Adam Bouqdib &middot; <a href="{{ site.url }}/privacy">Privacy</a> &middot; <a href="{{ site.url }}/license">Terms</a></p>
	  <p class="text-left"><small>Joomla! is a registered trademark of Open Source Matters, Inc. <br>
	  donjoomla.com is not affiliated with or endorsed by Open Source Matters or the Joomla! Project.</small></p>
    </div>
  </footer>
  <div id="base"></div>
  
  <!-- JS and analytics only. -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="{{ site.url }}/js/iframeheight.min.js"></script>
  <script src="{{ site.url }}/js/jquery-ui-1.9.1.custom.min.js"></script>
  <script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.1/js/bootstrap.min.js"></script>
  <script src="http://twitter.github.io/typeahead.js/releases/latest/typeahead.js"></script>
  <script src="{{ site.url }}/js/waypoints.min.js"></script>
  {% if page.layout == "default" %}
  <script src="{{ site.url }}/js/jquery.tocify.min.js"></script>
  {% endif %}
  <script src="{{ site.url }}/js/stuff.js"></script>
  <script src="http://platform.twitter.com/widgets.js"></script>
  <script src="//www.google.com/jsapi" type="text/javascript"></script>
  <script type="text/javascript">
	$('#search_control').typeahead({
		prefetch: "{{ site.url }}/search.json",
		remote: {
			url: "http://clients1.google.com/complete/search?q=%QUERY&hl=en&client=partner&source=gcsc&partnerid={014812861817308790526:-rrfwxely2g}&ds=cse&nocache=" + Math.random().toString(),
			dataType: 'jsonp',
			filter: function (resp) {
				return $.map(resp[1], function (item) {
					return {
						value: item,
						tokens: item
					};
				});
			}
		}
	})
	.on('typeahead:selected', function(e){
		e.target.form.submit();
	});
  </script>
  <script type="text/javascript">

	(function($) {
		$.QueryString = (function(a) {
			if (a == "") return {};
			var b = {};
			for (var i = 0; i < a.length; ++i)
			{
				var p=a[i].split('=');
				if (p.length != 2) continue;
				b[p[0]] = decodeURIComponent(p[1].replace(/\+/g, " "));
			}
			return b;
		})(window.location.search.substr(1).split('&'))
	})(jQuery);
  </script>
