  <div class="share-buttons">
    <span class='st_sharethis_custom share-btn' data-service="sharethis">
      <span class="btn-bubble"></span>
      Shares
    </span> 
    <span class='st_facebook_custom share-btn' data-service="facebook">
      <span class="btn-bubble"></span>
      <span class="btn btn-default"><span class="fa fa-facebook"></span> Facebook</span>
    </span> 
    <span class='st_googleplus_custom share-btn' data-service="googleplus">
      <span class="btn-bubble"></span>
      <span class="btn btn-default"><span class="fa fa-google-plus"></span> Google+</span>
    </span> 
    <span class='st_twitter_custom share-btn' data-service="twitter">
      <span class="btn-bubble"></span>
      <span class="btn btn-default"><span class="fa fa-twitter"></span> Twitter</span>
    </span> 
    <span class='st_linkedin_custom share-btn' data-service="linkedin">
      <span class="btn-bubble"></span>
      <span class="btn btn-default"><span class="fa fa-linkedin"></span> LinkedIn</span>
    </span> 
    <span class='st_email_custom share-btn' data-service="email">
      <span class="btn-bubble"></span>
      <span class="btn btn-default"><span class="fa fa-envelope"></span> Email</span>
    </span>
  </div>
