---
layout: default
title: Extensions
slug: extensions
category: extensions
sitemap:
    priority: 0.7
    changefreq: monthly
    lastmod: 2013-11-29T01:15:00
---

  {% for post in site.pages %}
  {% if post.category == 'extensions' %}
  {% assign posturl == post.url | remove: '.html' | remove: 'index' %}
<div class="media"><a class="pull-left thumbnail" href="{{ posturl }}"><img src="{{ post.image }}" alt="" width="90" height="90"></a>
  <div class="media-body">
    <h3 class="media-heading"><a href="{{ posturl }}">{{ post.title }}</a></h3>
    <p>{{ post.excerpt }}.</p>
  <a class="btn btn-success" href="{{posturl}}#Download"><span class="glyphicon glyphicon-save"></span> Download {{ post.title }}</a></div>
</div>
  {% endif %}
  {% endfor %}
