<!DOCTYPE html>
<html lang="en">
  <head>
    {% include header.html %}
  </head>
  
  <body>
  {% include nav-main.html %}
  <div class="container" id="main" role="main">
    <div class="row">
      <div class="col-sm-8"> 
        {% for post in site.categories.blog %}
        {% if post.categories contains {{page.slug}} %}
        <div class="box post">
          <div class="media">
            <h3><a href="{{post.url}}">{{ post.title }}</a></h3>
            <a class="pull-left thumbnail" href="{{post.url}}"><img alt="{{post.title}}" src="{{post.image}}" width="120"></a>
            <div class="media-body"> {{post.excerpt}} </div>
          </div>
          <div class="post_meta">Written by <a href="{{site.url}}/about">Adam Bouqdib</a> in 
            <a href="{{site.url}}/{{post.categories | join: "/"}}">{{post.categories | last | capitalize}}</a> 
            &middot; {{post.date | date: "%A, %-d %B %Y"}} <a class="pull-right" href="{{post.url}}#disqus_thread"></a></div>
        </div>
        {% endif %} 
        {% endfor %} 
      </div>
      <div class="col-sm-4">
        <div class="nav-menu">
          <ul class="nav nav-list">
            <li{% if item[0] == page.slug %} class="active"{% endif %}><a href="{{ site.url }}/blog">All</a>
            </li>
            {% for item in site.categories %}
            {% unless item[0] == 'blog' %} <li{% if item[0] == page.slug %} class="active"{% endif %}><a href="{{ site.url }}/blog/{{ item[0] }}">{{ item[0] | capitalize }}</a>
            </li>
            {% endunless %}
            {% endfor %}
          </ul>
        </div>
        <div class="box">
          <h3>Archive</h3>
          <ul class="list-unstyled">
            {% for post in site.posts %}
              {% capture month %}{{ post.date | date: '%m%Y' }}{% endcapture %}
              {% capture nmonth %}{{ post.next.date | date: '%m%Y' }}{% endcapture %}
              {% if month != nmonth %}
                <li><a href="{{ site.url }}/blog/archive/#{{ post.date | date: "%B'%y" }}">{{ post.date | date: "%B %Y" }}</a></li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
  {% include footer.html %}
  <script>
	var disqus_shortname = 'donjoomla';
	(function () {
	var s = document.createElement('script'); s.async = true;
	s.type = 'text/javascript';
	s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
	(document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
	}());
  </script>
  </body>
</html>
