<!DOCTYPE html>
<html lang="en">
  <head>
    {% include header.html %}
  </head>
  <body>
  <a class="sr-only" href="#content">Skip to main content</a> 
  {% include nav-main.html %}
  {% if page.lead %}
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="item active">
        <div class="container">
          <div class="carousel-caption"> 
            {% if page.category == "extensions" %}
            <div class="pull-right text-right">
              <p>Latest release: <span class="label label-success">v{{ page.version }}</span><br>
				{% if page.compat %}
                Compatible with: 
				{% if page.compat.25 %}
                <img src="{{ site.url }}/images/compat_25.png" alt="">
				{% endif %}
				{% if page.compat.30 %}
                <img src="{{ site.url }}/images/compat_30.png" alt="">
				{% endif %}
				{% endif %}
			  </p>
              <a class="btn btn-lg btn-success" href="{{ site.url }}/{{ page.slug }}/#Download" role="button">
                <span class="glyphicon glyphicon-save"></span> Download now</a></div>
            {% endif %}
            <h1>{{ page.title }}</h1>
            <p>{{ page.lead }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
  <div class="container" id="main">
    <div class="row">
      <div class="col-md-3">
        <div id="sidebar" class="toc"></div>
      </div>
      <div class="col-md-9" role="main"> {{ content }} </div>
    </div>
  </div>
  {% include footer.html %}
  </body>
</html>
