<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta, title, CSS, favicons, etc. -->
    {% include header.html %}
  </head>
<!-- NAVBAR
================================================== -->
  <body>
    <a class="sr-only" href="#content">Skip to main content</a>

    <!-- Docs master nav -->
    {% include nav-main.html %}
  
  
  <!-- Carousel
    ================================================== -->
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="item active">
        <div class="container">
          <div class="carousel-caption">
            <h1>{{ page.title }}</h1>
            <p>{{ page.lead }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.carousel -->
  
  <div class="container" id="main" role="main">
    {{ content }}
  </div>
  <!-- /.container -->  
  <!-- FOOTER -->
    {% include footer.html %}

  </body>
</html>
