<!DOCTYPE html>
<html lang="en">
  <head>
    {% include header.html %}
  </head>
  
  <body>
  <a class="sr-only" href="#main">Skip to main content</a> {% include nav-main.html %}
  <div class="carousel slide">
    <div class="carousel-inner">
      <div class="item active">
        <div class="container">
          <div class="carousel-caption">
            <h1>{{ post.title }}</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container" id="main" role="main">
    <div class="row">
      <div class="col-sm-8"> 
        <div class="box">
          <h1>{{ post.title }}</h1>
          {{ content }}
        </div>
      </div>
      <div class="col-sm-4">
        <div class="nav-menu">
          <ul class="nav nav-list">
            <li><a href="{{ site.url }}/blog">All</a>
            </li>
            {% for item in site.categories %}
            {% unless item[0] == 'blog' %} <li{% post.categories contains item[0] %} class="active"{% endif %}><a href="{{ site.url }}/blog/{{ item[0] }}">{{ item[0] | capitalize }}</a>
            </li>
            {% endunless %}
            {% endfor %}
          </ul>
        </div>
        <div class="box">
          <h3>Archive</h3>
          <ul>
            {% for post in site.posts %}
            {% unless post.next %}
            <h3>{{ post.date | date: '%Y' }}</h3>
            {% else %}
            {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
            {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
            {% if year != nyear %}
            <h3>{{ post.date | date: '%Y' }}</h3>
            {% endif %}
            {% endunless %}
            <li>{{ post.date | date:"%b" }} <a href="{{ post.url }}">{{ post.title }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
  {% include footer.html %}
  </body>
</html>