<!DOCTYPE html>
<html lang="en">
  <head>
    {% include header.html %}
  </head>
  
  <body>
  <a class="sr-only" href="#main">Skip to main content</a> {% include nav-main.html %}
  <div class="carousel slide">
    <div class="carousel-inner">
      <div class="item active">
        <div class="container">
          <div class="carousel-caption">
            <h1>{{ title }}</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container" id="main" role="main">
    <div class="row">
      <div class="col-sm-8"> 
        <div class="box">
          <h1>{{ title }}</h1>
          {{ content }}
        </div>
      </div>
      <div class="col-sm-4">
        <div class="nav-menu">
          <ul class="nav nav-list">
            <li><a href="{{ site.url }}/blog">All</a>
            </li>
            {% for item in site.categories %}
            {% unless item[0] == 'blog' %} <li{% if post.categories contains item[0] %} class="active"{% endif %}><a href="{{ site.url }}/blog/{{ item[0] }}">{{ item[0] | capitalize }}</a>
            </li>
            {% endunless %}
            {% endfor %}
          </ul>
        </div>
        <div class="box">
          <h3>Archive</h3>
          <ul class="list-unstyled">
            {% for post in site.posts %}
              {% capture month %}{{ post.date | date: '%m%Y' }}{% endcapture %}
              {% capture nmonth %}{{ post.next.date | date: '%m%Y' }}{% endcapture %}
              {% if month != nmonth %}
                <li><a href="{{ site.url }}/blog/archive/#{{ post.date | date: "%B'%y" }}">{{ post.date | date: "%B %Y" }}</a></li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
  {% include footer.html %}
  </body>
</html>
